 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,100,198,0.25), rgba(0,100,198,0.25)), url("images/primer-plano-cortadora-setos-gasolina-que-sostiene-al-jardinero-afroGrande.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 940px;
  min-height: 674px;
  height: auto;
  margin: 32px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px 50px 26px;
}

.u-section-1 .u-text-1 {
  font-weight: 500;
  font-size: 3.75rem;
  margin: 0 auto;
}

.u-section-1 .u-icon-1 {
  height: 150px;
  width: 150px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1.6;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 27.39%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 616px;
  }

  .u-section-1 .u-group-1 {
    min-height: 410px;
    height: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 44px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -158px;
    margin-left: 150px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 4px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 61px;
    margin-right: 510px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0px;
    margin-left: 110px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 50px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
    font-size: 3rem;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-1 .u-group-1 {
    min-height: 689px;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-icon-1 {
    height: 100px;
    width: 100px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 406px;
}

.u-section-2 .u-list-1 {
  margin-top: 25px;
  margin-bottom: -607px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: 16.6667% 16.6667% 16.6667% 16.6667% 16.6667% 16.6667%;
  min-height: 302px;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-1 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-2 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-3 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  padding: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-4 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-5 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-6 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-7 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-8 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-9 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-9 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-10 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-10 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-11 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-11 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-12 {
  padding: 22px 10px 0;
}

.u-section-2 .u-icon-12 {
  height: 100px;
  width: 100px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.5rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 443px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 249px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 0;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 0;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 0;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 0;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 0;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 0;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 0;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 763px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 22px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 659px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1288px;
    grid-template-columns: 50% 50%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 1px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 737px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 640px;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-btn-1 {
    font-size: 1.25rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-5 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-6 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-7 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-8 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-8 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-9 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-9 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-9 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-10 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-10 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-11 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-11 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-11 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-12 {
    padding-top: 16px;
  }

  .u-section-2 .u-icon-12 {
    margin-right: -7px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }
}