.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 556px;
  height: auto;
  min-height: 173px;
  margin: 233px auto 0 -50px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  font-weight: bold;
  transition-duration: 0.5s;
  margin: 0 0 0 50px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.5;
  background-image: none;
  margin: 20px auto 0 20px;
  padding: 14px 51px 14px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 10px;
    margin-left: 0;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 81px auto 0;
}

.u-section-2 .u-group-1 {
  height: auto;
  min-height: 400px;
  width: 1040px;
  margin: 51px auto 60px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 55px 30px;
}

.u-section-2 .u-text-2 {
  margin: 29px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    min-height: 473px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1044px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-group-1 {
    margin-bottom: 50px;
    min-height: 810px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  margin: 28px auto 0;
}

.u-section-3 .u-icon-1 {
  width: 548px;
  height: 548px;
  margin: -9px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 800;
  font-size: 1.875rem;
  margin: -514px auto 60px 814px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-left: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-icon-1 {
    width: 360px;
    height: 360px;
    margin-top: 0;
    padding: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: -332px;
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    width: auto;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-icon-1 {
    width: 271px;
    height: 271px;
    margin-top: 67px;
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.5rem;
    margin-top: -137px;
    margin-right: auto;
    margin-bottom: 17px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-icon-1 {
    width: 340px;
    height: 340px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin: -79px 0 0;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,100,198,1), rgba(0,100,198,1)), url("images/default-image.jpg");
}

.u-section-4 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 47px auto 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/mecanico-ordenador-portatil-sobre-fondo-blanco.jpg");
  background-position: 61.54% 32.68%;
  min-height: 652px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 652px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  text-transform: none;
  margin: 25px auto 0;
}

.u-section-4 .u-form-1 {
  height: 342px;
  width: 495px;
  margin: 7px 0 0;
}

.u-section-4 .u-form-group-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-1 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-2 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-3 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-4 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-5 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-5 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-6 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-6 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-7 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-7 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-8 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-8 {
  font-size: 1.125rem;
  font-weight: 700;
}

.u-section-4 .u-form-group-9 {
  margin-left: 0;
  margin-right: auto;
}

.u-section-4 .u-form-group-10 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-4 .u-label-9 {
  width: 100px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 1.125rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 50% 50%;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 73px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-image-1 {
    min-height: 538px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 538px;
  }

  .u-section-4 .u-form-1 {
    width: 395px;
  }

  .u-section-4 .u-btn-1 {
    width: 100%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-image-1 {
    min-height: 412px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 285px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 586px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 614px;
  }

  .u-section-4 .u-image-1 {
    min-height: 618px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-form-1 {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 369px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-4 .u-image-1 {
    min-height: 389px;
  }
}